<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CodeHub</title>
    </head>
    <body>
        <header>
			<% if(user == null) { %>
				<%- include('partials/header'); -%>
			<% } else { %>
				<%- include('partials/header-logged-in'); -%>
			<% } %>
		</header>

        <div>
            <h2> Browse public repositories</h2>
            <% for (var i=0; i<repositories.length; i++) { %>
                <h3> Hello </h3>
            <% } %>
        </div>
    </body>
</html>